[submodule "ModulesCore"]
	path = Runtime/ModulesFramework
	url = https://github.com/JackLite/ModulesFramework.git
	branch = unity_branch
[submodule "ModulesFrameworkUnity"]
	path = Runtime/ModulesFrameworkUnity
	url = https://github.com/JackLite/ModulesFrameworkUnity.git
	branch = main
